.card{
    height: 150px;
    width: 20%;
    min-width: 250px;
    background-color: rgb(11, 23, 57);
    border-radius: 7px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    border: 1px solid rgb(44, 52, 82);
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(174, 185, 225);
}

.usersData{
    display: flex;
    align-items: center;
    gap: 20px;
    .newUsers{
        font-size: 30px;
        font-weight: 600;
    }
}

.data{
    display: flex;
    align-items: center;
    background-color: rgb(10, 57, 66);
    color: rgb(20, 202, 116);
    padding: 5px;
    border-radius: 5px;
}

.dataRed{
    color: rgb(255, 90, 101);
    background-color: rgb(60, 36, 66);
}